<!DOCTYPE html>
<head>
	<title><%= blog.title %></title>
	<!-- this has to be blog not the post -->
</head>
<body>
	<h1><%= blog.title %></h1> 
	<!-- this has to be blog not the post  -->

		<p><%= blog.id %></br>
		<%= blog.title %></br> 
		<%= blog.body %></br>
		<%= blog.image %> </p>
		<!-- has to be blog not post -->
		<a href="/blog/<%= blog.id %>/edit">Edit post</a>

		<form method="POST" action="/blog/<%= blog.id %>?_method=DELETE">
			<button>Delete</button>
		</form>
	</body>
	</html>